@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Geist-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Geist-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/Geist-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Geist-700.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/GeistMono-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/GeistMono-500.ttf') format('truetype');
}
@font-face {
  font-family: 'STIX Two Text';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/STIXTwoText-Italic-400.ttf') format('truetype');
}
@font-face {
  font-family: 'STIX Two Text';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/STIXTwoText-Italic-500.ttf') format('truetype');
}
@font-face {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/STIXTwoText-400.ttf') format('truetype');
}
@font-face {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/STIXTwoText-500.ttf') format('truetype');
}
